<div class="flex justify-center">
  <button
    class="bg-[#f1f3f5] border-none px-[20px] py-[8px] rounded-[20px] font-[600] cursor-pointer hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200"
    [disabled]="currentPage === 1" (click)="onPrev()">
    Prev
  </button>

  <div class="flex gap-[8px] items-center">
    @for (page of visiblePages; track $index) {
    @if (page === '...') {
    <span class="w-[35px] h-[35px] flex items-center justify-center font-bold text-gray-400">...</span>
    } @else {
    <button
      class="w-[35px] h-[35px] flex items-center justify-center rounded-full cursor-pointer transition-all duration-200"
      [class.bg-[#004085]]="page === currentPage" [class.text-white]="page === currentPage"
      [class.shadow-[0_4px_10px_rgba(0,64,133,0.3)]]="page === currentPage"
      [class.hover:bg-[#003065]]="page === currentPage" [class.hover:bg-gray-200]="page !== currentPage"
      (click)="onPageClick(page)">
      {{ page }}
    </button>
    }
    }
  </div>

  <button
    class="bg-[#f1f3f5] border-none px-[20px] py-[8px] rounded-[20px] font-[600] cursor-pointer hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200"
    [disabled]="currentPage === totalPages || totalPages === 0" (click)="onNext()">
    Next
  </button>
</div>