<div class="notification-stack">
  @for (item of notifications; track item.id) {
    <div [class]="getNotificationClass(item.type)">
      <div class="notification-content">
        <div class="notification-icon">
          <fa-icon [icon]="getIcon(item.type)"></fa-icon>
        </div>

        <div class="notification-body">
          <p class="notification-title">{{ item.type | titlecase }}</p>
          <p class="notification-message">{{ item.message }}</p>
        </div>

        <button
          type="button"
          class="notification-close"
          (click)="remove(item.id)"
          aria-label="Close notification"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
    </div>
  }
</div>
